.header {
    font-family: Apple Chancery, cursive;
    text-align: center;
    color:rgb(100, 0, 0);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(252, 235, 210);
    z-index: 100;
}

body {
    background-color: rgb(78, 46, 23);
}

#poemsGal {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.poemsGalRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.poemImg {
    width: 15%;
}